body{
            background-color: rgba(226, 248, 255, 0.733);
            
            color: rgba(35, 38, 56, 0.963);
        }

        .container{
            display: flex;
            background-color: rgb(255, 255, 255);
            width: 100%;
          max-width: 540px;
          margin: 160px auto 0;
           padding: 0 60px 0 100px;
            border-radius: 10px;
            overflow: hidden;
            color: rgba(58, 66, 112, 0.785);
              /* box-shadow:0 0 20px 0 rgba(190, 51, 255, 0.292); */

        }

        #drawer{
            position: relative;
            bottom: 0;
            right: 100px;
           width: 60%;
           display: block;
           /* height: 100%; */
           border-radius: 10px 0 0 10px;
        }
        
        .infoRow{
            position: relative;
            width:68%;
            right:145px;
            padding:0 0 25px 40px;
           
           background-color: rgb(254, 254, 254);
           
        }

      .columnRow{
        display: flex;
        width: 100%;
        
      }

      #subHead{
        font-size: 15px;
        line-height: 1.5;
      }

        .columnRow .appleTon{
            display: flex;
            /* justify-content: space-between; */
            width: 100%;
             gap: 5px;
        }
          #avatar{
    
        width: 40px;
        height: 40px;
	    border-radius: 20rem;
        margin: 10px 0 10px;

        }

        #heading{
          font-family:Arial, Helvetica, sans-serif;
          font-weight: 600;
          font-size: 3vmin;

        }

        .columnRow .michell{
            font-size: 11px;
            line-height: 1.7;
            width: 100px;
        }

        span{
            font-weight: 500;
            
        }

        #ton-color{
            font-weight: 600;
            font: bolder;
            font-family:Arial, Helvetica, sans-serif;
        }

        .share{
            margin-top: 20px;
            margin-left: 147px;
            width: 20px;
        height: 20px;
        padding: 5px 8px 5px;
            border-radius: 70px;
            justify-content: center;
            text-align: center;
            background-color: rgba(58, 66, 112, 0.132);
            cursor: pointer;

        }

        .share:hover{
           
          background:rgba(43, 49, 84, 0.849);
        }

        .socials{
            position: absolute;
            display: flex;
            padding: 0 40px;
            text-align: center;
            justify-content: center;
            width: 35%;
         height: 18%;
            gap: 14px;
            top: 120px;
            left: 250px;
            border-radius: 11px;
           backdrop-filter: blur(16px);
            background:  rgba(43, 49, 84, 0.849);
            opacity: 0;
             transition: opacity 0.2s ease, visibility 0.2s ease;
            visibility: hidden;
        }

        .socials.active{
            opacity: 1;
            visibility: visible;
        }

        .socials img{
            margin: 16px 0;
        }

        #shareLink{
            margin: 20px 0;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 10px;
            font-family:Arial, Helvetica, sans-serif;
            color: rgba(199, 205, 247, 0.719);
            
        }

        @media (max-width: 540px){

            .container{
                margin: 40px auto 0;
                max-width: 300px;
                padding: 70px 0 430px 0;
                flex-direction: row;
                align-items: stretch;
            }

            #drawer{
                position: absolute;
                max-width: 500px;
         
           border-radius: 10px 10px 0 0;
                right: 100px;
      bottom: 314px;

            }

            .infoRow{
                position: absolute;
                top: 230px;
              left: 100px;
              max-width: 260px; 
              padding: 20px 20px 0;
            }

            .share{
              max-width: 15px;
                margin: 18px 0;
            }

            .socials{
                 top: 256px;
            left: 0;
           margin: 0;
           width: 220px;
             border-radius: 0 0 10px 10px;
            }


        }